@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: "Inter", serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.line-below {
  @apply relative after:absolute after:w-full after:left-0 after:bottom-0 after:h-0.5 after:sm:h-1 text-black after:bg-black after:rounded-t-[10];
}

.line-left {
  @apply relative before:absolute before:h-full before:top-0 before:left-0 before:w-1.5 before:bg-black before:rounded-r-[10];
}

.black-card {
  background: linear-gradient(107.38deg, #5b5a6f 2.61%, #000000 101.2%);
}

.black-card-footer {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.white-section {
  @apply bg-white rounded-container py-5 mt-5;
}
